.Menu{
	position: absolute !important;
	margin-top: 1%;
	right: 0;
}
.Menu ul{
	list-style-type:none;
	margin: 0;
	padding: 0;
	position: absolute;
	
}
.Menu li{
	background:#212121;
	display: inline-block;
	
}
.Menu li a{
	background: #212121;
	display: block;
	min-width: 140px;
	min-height: 50px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	color: #fff;
	
}
.Menu li:hover a{
	background: #19c589;

}
.Menu li:hover ul a{
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}
.Menu li:hover ul a:hover{
	background: #2396bd;
	color: #fff;
}
.Menu li ul {
	display: none;
}
.Menu ul li a:hover + .sublista, .sublista:hover{
	display: block;
}
.Menu li ul li {
	display: block;
	float: none;
}

/*estilo responsive*/
@media screen and (max-width:735px ){
	.Menu ul{
		position: static;
		display: none;
	}
	.Menu li{
		margin-bottom: 1px;
	}
	.Menu ul li, li a{
		width: 100%;
	}
	.Menu .mostrar-menu{
		display: block;
	}
}
